[Desktop Entry]
Type=Application
Version=1.0
Name=Gigolo
Name[ar]=Gigolo
Name[ast]=Gigolo
Name[be]=Gigolo
Name[bg]=Gigolo
Name[ca]=Gigolo
Name[cs]=Gigolo
Name[da]=Gigolo
Name[de]=Gigolo
Name[el]=Gigolo
Name[en_AU]=Gigolo
Name[en_CA]=Gigolo
Name[en_GB]=Gigolo
Name[eo]=Ĵigolo
Name[es]=Gigolo
Name[et]=Gigolo
Name[eu]=Gigolo
Name[fi]=Gigolo
Name[fr]=Gigolo
Name[gl]=Gigolo
Name[he]=‏Gigolo
Name[hr]=Gigolo
Name[hu]=Gigolo
Name[hy_AM]=Gigolo
Name[hye]=Gigolo
Name[id]=Gigolo
Name[ie]=Gigolo
Name[is]=Gigolo
Name[it]=Gigolo
Name[ja]=Gigolo
Name[kk]=Gigolo
Name[ko]=Gigolo
Name[lt]=Gigolo
Name[lv]=Gigolo
Name[ms]=Gigolo
Name[nb]=Gigolo
Name[nl]=Gigolo
Name[oc]=Gigolo
Name[pl]=Gigolo
Name[pt]=Gigolo
Name[pt_BR]=Gigolo
Name[ru]=Gigolo
Name[sk]=Gigolo
Name[sl]=Gigolo
Name[sq]=Gigolo
Name[sr]=Жиголо
Name[sv]=Gigolo
Name[te]=గిగోలో
Name[th]=Gigolo
Name[tr]=Gigolo
Name[ug]=گىگولو(Gigolo)
Name[uk]=Жиґоло
Name[ur]=گیگولو
Name[ur_PK]=گیگولو
Name[zh_CN]=Gigolo 远程连接
Name[zh_TW]=Gigolo
GenericName=Frontend for GIO/GVfs
GenericName[ar]=واجهة رسومية ل GIO/GVfs
GenericName[be]=Інтэрфейс для GIO/GVfs
GenericName[bg]=Интерфейс за GIO/GVfs
GenericName[ca]=Interfície per GIO/GVfs
GenericName[cs]=Front-end pro knihovnu GIO/systém souborů GVfs
GenericName[da]=Brugerflade til GIO/GVfs
GenericName[de]=Oberfläche für GIO/GVfs
GenericName[en_CA]=Frontend for GIO/GVfs
GenericName[en_GB]=Frontend for GIO/GVfs
GenericName[es]=Interfaz para GIO/GVfs
GenericName[et]=Graafiline kasutajaliides GIO/GVfs jaoks
GenericName[eu]=GIO/GVfs-rako erabiltzaile interfazea
GenericName[fr]=Interface pour GIO/GVfs
GenericName[gl]=Interface de GIO/GVfs
GenericName[he]=מגשר חזיתי עבור GIO/GVfs
GenericName[id]=Antarmuka untuk GIO/GVfs
GenericName[it]=Frontend per GIO/GVfs
GenericName[ja]=GIO/GVfs 向けフロントエンド
GenericName[ko]=GIO/GVfs용 프론트엔드
GenericName[lt]=GIO/GVfs naudotojo sąsaja
GenericName[ms]=Bahagian Hadapan untuk GIO/GVfs
GenericName[nb]=Frontstykke for GIO/GVfs
GenericName[nl]=Bedieningsschil voor GIO/GVfs
GenericName[pl]=Nakładka na GIO/GVfs
GenericName[pt]=Frontend para GIO/GVfs
GenericName[pt_BR]=Frontend para GIO/GVfs
GenericName[ru]=Интерфейс для GIO/GVFS
GenericName[sk]=Frontend pre GIO/GVfs
GenericName[sl]=Vmesnik za GIO/GVfs
GenericName[sq]=Pjesë e përparme për GIO/GVfs
GenericName[sr]=Сучеље ГИО-а/ГВфс-а
GenericName[sv]=Frontend för GIO/GVfs
GenericName[th]=โปรแกรมฉากหน้าสำหรับ GIO/GVfs
GenericName[tr]=GIO/GVfs için ön yüz
GenericName[uk]=Оболонка для GIO/GVfs
GenericName[zh_CN]=GIO/GVfs 前端
GenericName[zh_TW]=GIO/GVfs 的前端
Comment=A simple frontend to easily connect to remote filesystems
Comment[ar]=واجهة بسيطة للاتصال بسهولة بنظام الملفات البعيدة
Comment[ast]=Un frontal cenciellu pa coneutase cenciellamente a sistemes de ficheros remotos
Comment[be]=Просты інтэрфейс для зручнага злучэння з адлеглымі файлавымі сістэмамі
Comment[bg]=Прост интерфейс за лесно свързване към отдалечени файлови системи
Comment[ca]=Una interfície simple per connectar-se a sistemes de fitxers remots
Comment[cs]=Jednoduché rozhraní pro snadné připojení ke vzdáleným systémům souborů
Comment[da]=En simpel brugerflade til nemt at oprette forbindelse til fjernfilsystemer
Comment[de]=Eine schlichte Oberfläche zur einfachen Verbindung mit entfernten Dateisystemen
Comment[el]=Ένα απλό εργαλείο για την εύκολο σύνδεση σε απομακρυσμένα συστήματα αρχείων
Comment[en_AU]=A simple frontend to easily connect to remote filesystems
Comment[en_CA]=A simple frontend to easily connect to remote filesystems
Comment[en_GB]=A simple frontend to easily connect to remote filesystems
Comment[eo]=Fasadprogramo por konekti facile je la foraj dosiersistemoj
Comment[es]=Una interfaz sencilla para conectarse a sistemas de archivos remotos
Comment[et]=Lihtne kasutajaliides ühenduse loomiseks väliste failisüsteemidega
Comment[eu]=Urruneko fitxategi-sistemetara konektatzeko interfaze sinple bat
Comment[fi]=Käyttöliittymä, jonka avulla yhdistät helposti verkkojakoihin
Comment[fr]=Une interface simple pour se connecter facilement à des systèmes de fichiers à distance
Comment[gl]=Unha sinxela interface para conectar facilmente a sistemas de ficheiros remotos
Comment[he]=מגשר חזיתי פשוט לצורך התחברות קלה למערכות קבצים מרוחקות
Comment[hr]=Jednostavno sučelje za lako spajanje s udaljenim sustavima
Comment[hu]=Egyszerű felület távoli fájlrendszerekhez való egyszerű csatlakozáshoz
Comment[hy_AM]=Պարզ յետնաշերտ,հակադարձ նիշքերին միանալու համար
Comment[hye]=Պարզ յետնաշերտ,հակադարձ նիշքերին միանալու համար
Comment[id]=Ujung depan sederhana untuk memudahkan sambungan ke sistem berkas jarak jauh
Comment[ie]=Un simplic interfacie por conexer a lontan fil-sistemas
Comment[is]=Einfalt viðmót til að tengjast fjartengdum skráakerfum
Comment[it]=Una semplice interfaccia per connettersi a file system remoti
Comment[ja]=リモートファイルシステムに簡単に接続するシンプルなフロントエンド
Comment[ko]=원격 파일 시스템을 쉽게 연결하기 위한 간단한 프론트엔드
Comment[lt]=Paprasta grafinė sąsaja lengvam prisijungimui prie nuotolinių failų sistemų
Comment[lv]=Vienkāršs priekšgals, lai viegli pieslēgtos attālinātām failu sistēmām
Comment[ms]=Merupakan bahagian hadapan ringkas yang memudahkan penyambungan ke sistem fail
Comment[nb]=En enkel grenseflate for enkel tilkobling til fjerntliggende filsystem
Comment[nl]=Een eenvoudige grafische schil om makkelijk te verbinden met bestandssystemen op afstand
Comment[oc]=Una interfàcia simpla per se connectar aisidament a de sistèmas de fichièrs a distància
Comment[pl]=Łączy z lokalnymi i zdalnymi systemami plików
Comment[pt]=Uma interface simples para ligar facilmente a sistemas de ficheiros remotos
Comment[pt_BR]=Uma interface simples para conectar facilmente a sistemas de arquivos remotos
Comment[ru]=Простой интерфейс для подключения удалённых файловых систем
Comment[sk]=Jednoduché rozhranie pre ľahké pripojenie k vzdialeným systémom súborov.
Comment[sl]=Enostavno začelje za povezavo z oddaljenimi datotečnimi sistemi
Comment[sq]=Një ndërfaqe e thjeshtë për të lidhur lehtësisht sisteme të largët kartelash
Comment[sr]=Лагано сучеље за лако повeзивање са удаљеним системима датотека
Comment[sv]=Ett enkelt gränssnitt för att enkelt ansluta till fjärrfilsystem
Comment[th]=โปรแกรมฉากหน้าที่เรียบง่ายสำหรับเชื่อมต่อไปยังระบบแฟ้มในเครือข่ายอย่างง่ายดาย
Comment[tr]=Uzaktaki dosya sistemlerine bağlanmak için basit arayüz
Comment[ug]=يىراقتىكى ھۆججەت سىستېمىسىغا ئوڭاي باغلىنىدىغان ئالدى ئۇچ پروگراممىسى
Comment[uk]=Простий інтерфейс для легкого підключення до віддалених файлових систем
Comment[ur]=آسانی سے بعید فائل سسٹمز سے متصل ہونے کے لی سادہ فرنٹ اینڈ
Comment[ur_PK]=آسانی سے بعید فائل سسٹمز سے متصل ہونے کے لی سادہ فرنٹ اینڈ
Comment[zh_CN]=易于与远程文件系统连接的简单前端
Comment[zh_TW]=讓您連接遠端檔案系統的簡易前端程式
Exec=gigolo
Icon=org.xfce.gigolo
Terminal=false
Categories=System;GTK;Filesystem;
StartupNotify=true
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[de_DE]=Gigolo
Comment[de_DE]=Eine schlichte Oberfläche zur einfachen Verbindung mit entfernten Dateisystemen
X-GNOME-Autostart-Delay=0
